name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache pip install
      id: cache-pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('functions/requirements.txt') }}-${{ hashFiles('functions/dev-requirements.txt')}}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      if: ${{steps.cache-pip.outputs.cache-hit}} != 'true'
      run: |
        python -m pip install --upgrade pip
        if [ -f functions/requirements.txt ]; then pip install -r functions/requirements.txt; fi
        if [ -f functions/dev-requirements.txt ]; then pip install -r functions/dev-requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest
      env:
        TEST_DATABASE_URL: postgresql://postgres:postgres@localhost:5432/pytest_test
